samples/Cortez[[:space:]]Sinfonia[[:space:]]C[[:space:]]Noiseless/E4.wav filter=lfs diff=lfs merge=lfs -text
bcp/A2.wav filter=lfs diff=lfs merge=lfs -text
bcp/G3.wav filter=lfs diff=lfs merge=lfs -text
samples/Cortez[[:space:]]Sinfonia[[:space:]]C[[:space:]]Noiseless/A2.wav filter=lfs diff=lfs merge=lfs -text
samples/Cortez[[:space:]]Sinfonia[[:space:]]C[[:space:]]Noiseless/D3.wav filter=lfs diff=lfs merge=lfs -text
samples/Cortez[[:space:]]Sinfonia[[:space:]]C/B3.wav filter=lfs diff=lfs merge=lfs -text
samples/Cortez[[:space:]]Sinfonia[[:space:]]C/G3.wav filter=lfs diff=lfs merge=lfs -text
bcp/B3.wav filter=lfs diff=lfs merge=lfs -text
bcp/E4.wav filter=lfs diff=lfs merge=lfs -text
samples/Cortez[[:space:]]Sinfonia[[:space:]]C[[:space:]]Noiseless/B3.wav filter=lfs diff=lfs merge=lfs -text
samples/Cortez[[:space:]]Sinfonia[[:space:]]C[[:space:]]Noiseless/E2.wav filter=lfs diff=lfs merge=lfs -text
samples/Cortez[[:space:]]Sinfonia[[:space:]]C[[:space:]]Noiseless/G3.wav filter=lfs diff=lfs merge=lfs -text
samples/Cortez[[:space:]]Sinfonia[[:space:]]C/A2.wav filter=lfs diff=lfs merge=lfs -text
samples/Cortez[[:space:]]Sinfonia[[:space:]]C/E4.wav filter=lfs diff=lfs merge=lfs -text
bcp/D3.wav filter=lfs diff=lfs merge=lfs -text
samples/Cortez[[:space:]]Sinfonia[[:space:]]C[[:space:]]E4D3.wav filter=lfs diff=lfs merge=lfs -text
samples/Cortez[[:space:]]Sinfonia[[:space:]]C/E2.wav filter=lfs diff=lfs merge=lfs -text
bcp/E2.wav filter=lfs diff=lfs merge=lfs -text
samples/Cortez[[:space:]]Sinfonia[[:space:]]C/D3.wav filter=lfs diff=lfs merge=lfs -text
